<a href="https://colab.research.google.com/github/PedroHudson/EBAC_Analise_de_Dados/blob/main/EBAC_Analista_de_Dados_Modulo_8_Exerc%C3%ADcios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Prepare o ambiente**

Neste exercício vamos utilizar a base de dados de ações da bolsa de valores dos EUA, a Dow Jones. Os dados estão disponíveis para *download* neste [link](https://archive.ics.uci.edu/ml/datasets/Dow+Jones+Index). Vamos utilizar o pacote `wget` para fazer o *download* dos dados.

https://archive.ics.uci.edu/ml/datasets/Dow+Jones+Index

1ª Parte:

Instale o pacote wget na versão 3.2.

In [1]:
!pip install wget==3.2

Requirement already satisfied: wget==3.2 in /usr/local/lib/python3.10/dist-packages (3.2)

2ª Parte:

Faça o download dos dados no arquivo compactado dados.zip.

In [2]:
import wget

wget.download(url='https://archive.ics.uci.edu/ml/machine-learning-databases/00312/dow_jones_index.zip', out='./dados.zip')

'./dados.zip'

3ª Parte:

Descompacte os dados na pasta dados com o pacote nativo zipfile.

In [3]:
import zipfile

with zipfile.ZipFile('./dados.zip', 'r') as fp:
  fp.extractall('./dados')

4ª Parte:

Verifique a pasta dados criada, ela deve conter dois arquivos:

dow_jones_index.data: um arquivo com os dados;

dow_jones_index.names: um arquivo com a descrição completa dos dados.

É possível observar que o arquivo de dados é um arquivo separado por vírgulas, o famoso csv. Vamos renomear o arquivo de dados para que ele tenha a extensão csv com o pacote nativo os.

5ª Parte:

Renomeie o arquivo com o pacote nativo os.

Abra o arquivo e o Google Colab irá apresentar uma visualização bem legal dos dados

In [4]:
import os

os.rename('./dados/dow_jones_index.data', './dados/dow_jones_index.csv')

**1º Exercício: Pandas**

Para processar os dados, vamos utilizar o pacote pandas na versão 1.1.5. A documentação completa por ser encontrada no link:

https://pandas.pydata.org/docs/

Importe o pacote com o apelido (alias) pd.

In [5]:
import pandas as pd

Leia o arquivo.

In [6]:
df = pd.read_csv('./dados/dow_jones_index.csv')

O pandas trabalha com o conceito de dataframe, uma estrutura de dados com muitos métodos e atributos que aceleram o processamento de dados. Alguns exemplos:

Visualize as n primeiras linhas:

In [7]:
df.head(n=10)

,quarter,stock,date,open,high,low,close,volume,percent_change_price,percent_change_volume_over_last_wk,previous_weeks_volume,next_weeks_open,next_weeks_close,percent_change_next_weeks_price,days_to_next_dividend,percent_return_next_dividend
0,1,AA,1/7/2011,$15.82,$16.72,$15.78,$16.42,239655616,3.792670,NaN,NaN,$16.71,$15.97,-4.428490,26,0.182704
1,1,AA,1/14/2011,$16.71,$16.71,$15.64,$15.97,242963398,-4.428490,1.380223,239655616.0,$16.19,$15.79,-2.470660,19,0.187852
2,1,AA,1/21/2011,$16.19,$16.38,$15.60,$15.79,138428495,-2.470660,-43.024959,242963398.0,$15.87,$16.13,1.638310,12,0.189994
3,1,AA,1/28/2011,$15.87,$16.63,$15.82,$16.13,151379173,1.638310,9.355500,138428495.0,$16.18,$17.14,5.933250,5,0.185989
4,1,AA,2/4/2011,$16.18,$17.39,$16.18,$17.14,154387761,5.933250,1.987452,151379173.0,$17.33,$17.37,0.230814,97,0.175029
5,1,AA,2/11/2011,$17.33,$17.48,$16.97,$17.37,114691279,0.230814,-25.712195,154387761.0,$17.39,$17.28,-0.632547,90,0.172712
6,1,AA,2/18/2011,$17.39,$17.68,$17.28,$17.28,80023895,-0.632547,-30.226696,114691279.0,$16.98,$16.68,-1.766780,83,0.173611
7,1,AA,2/25/2011,$16.98,$17.15,$15.96,$16.68,132981863,-1.766780,66.177694,80023895.0,$16.81,$16.58,-1.368230,76,0.179856
8,1,AA,3/4/2011,$16.81,$16.94,$16.13,$16.58,109493077,-1.368230,-17.663150,132981863.0,$16.58,$16.03,-3.317250,69,0.180941
9,1,AA,3/11/2011,$16.58,$16.75,$15.42,$16.03,114332562,-3.317250,4.419900,109493077.0,$15.95,$16.11,1.003130,62,0.187149

Visualize o nome das colunas:

In [8]:
df.columns.to_list()

['quarter',
 'stock',
 'date',
 'open',
 'high',
 'low',
 'close',
 'volume',
 'percent_change_price',
 'percent_change_volume_over_last_wk',
 'previous_weeks_volume',
 'next_weeks_open',
 'next_weeks_close',
 'percent_change_next_weeks_price',
 'days_to_next_dividend',
 'percent_return_next_dividend']

Verifique o número de linhas e colunas:

In [9]:
linhas, colunas = df.shape
print(f'Número de linhas: {linhas}')
print(f'Número de colunas: {colunas}')

Número de linhas: 750
Número de colunas: 16

Selecione os valores de abertura, fechamento, máximo e mínimo das ações do McDonalds, listado na Dow Jones como MCD:

a. Selecione as linhas do dataframe original df em que a coluna stock é igual a MCD

In [10]:
df_mcd = df[df['stock'] == 'MCD']

b. Selecione apenas as colunas de data e valores de ações.

In [11]:
df_mcd = df_mcd[['date', 'open', 'high', 'low', 'close']]

In [12]:
print(df_mcd)

          date    open    high     low   close
216   1/7/2011  $77.10  $77.59  $73.59  $74.37
217  1/14/2011  $74.25  $74.49  $72.46  $74.06
218  1/21/2011  $74.65  $75.75  $74.31  $75.01
219  1/28/2011  $74.25  $75.85  $73.05  $73.28
220   2/4/2011  $73.80  $74.50  $73.08  $74.05
221  2/11/2011  $74.13  $76.32  $73.30  $76.14
222  2/18/2011  $76.07  $76.45  $75.70  $76.13
223  2/25/2011  $75.95  $76.45  $74.42  $74.44
224   3/4/2011  $74.51  $76.63  $73.64  $76.03
225  3/11/2011  $76.38  $77.25  $74.97  $76.73
226  3/18/2011  $76.10  $76.41  $72.89  $72.99
227  3/25/2011  $73.50  $75.75  $73.38  $75.25
594   4/1/2011  $75.55  $76.50  $74.87  $75.99
595   4/8/2011  $76.31  $76.91  $75.66  $76.04
596  4/15/2011  $76.15  $77.54  $75.83  $77.38
597  4/21/2011  $76.89  $78.41  $76.40  $76.91
598  4/29/2011  $77.15  $78.59  $76.54  $78.31
599   5/6/2011  $78.40  $79.37  $78.20  $78.70
600  5/13/2011  $79.46  $80.91  $79.08  $80.74
601  5/20/2011  $80.44  $82.85  $80.44  $82.33
602  5/27/2011  $81.53  $83.08  $81.49  $81.62
603   6/3/2011  $82.13  $82.25  $80.01  $80.54
604  6/10/2011  $80.60  $82.23  $80.00  $80.36
605  6/17/2011  $80.43  $82.72  $80.39  $82.52
606  6/24/2011  $82.32  $83.09  $81.40  $81.84

O problema é que as colunas com os valores possuem o carater $ e são do tipo texto ( object no pandas).

In [13]:
df_mcd.head(n=10)

          date    open    high     low   close
216   1/7/2011  $77.10  $77.59  $73.59  $74.37
217  1/14/2011  $74.25  $74.49  $72.46  $74.06
218  1/21/2011  $74.65  $75.75  $74.31  $75.01
219  1/28/2011  $74.25  $75.85  $73.05  $73.28
220   2/4/2011  $73.80  $74.50  $73.08  $74.05
221  2/11/2011  $74.13  $76.32  $73.30  $76.14
222  2/18/2011  $76.07  $76.45  $75.70  $76.13
223  2/25/2011  $75.95  $76.45  $74.42  $74.44
224   3/4/2011  $74.51  $76.63  $73.64  $76.03
225  3/11/2011  $76.38  $77.25  $74.97  $76.73

In [14]:
df_mcd.dtypes

date     object
open     object
high     object
low      object
close    object
dtype: object

c. Limpe as colunas com o método apply, que permite a aplicação de uma função anônima (lambda) qualquer. A função lambda remove o caracter $ e faz a conversão do tipo de str para float.

In [15]:
for col in ['open', 'high', 'low', 'close']:
  df_mcd[col] = df_mcd[col].apply(lambda value: float(value.split(sep='$')[-1]))

Verifique novamente os dados e seus tipos

In [16]:
df_mcd.head(n=10)

          date   open   high    low  close
216   1/7/2011  77.10  77.59  73.59  74.37
217  1/14/2011  74.25  74.49  72.46  74.06
218  1/21/2011  74.65  75.75  74.31  75.01
219  1/28/2011  74.25  75.85  73.05  73.28
220   2/4/2011  73.80  74.50  73.08  74.05
221  2/11/2011  74.13  76.32  73.30  76.14
222  2/18/2011  76.07  76.45  75.70  76.13
223  2/25/2011  75.95  76.45  74.42  74.44
224   3/4/2011  74.51  76.63  73.64  76.03
225  3/11/2011  76.38  77.25  74.97  76.73

In [17]:
df_mcd.dtypes

date      object
open     float64
high     float64
low      float64
close    float64
dtype: object

Conduza o mesmo processo para extrair e tratar os dados da empresa Coca-Cola (stock column igual a KO).

a. Selecione as linhas do dataframe original df em que a coluna stock é igual a KO.

In [20]:
df_ko = df[df['stock'] == 'KO']

Vamos selecionar os valores de abertura, fechamento, máximo e mínimo das ações da empresa Coca-Cola, listado na Dow Jones como KO:

b. Selecione apenas as colunas de data e valores de ações.

In [21]:
df_ko = df_ko[['date', 'open', 'high', 'low', 'close']]

In [23]:
print(df_ko)

          date    open    high     low   close
204   1/7/2011  $65.88  $65.88  $62.56  $62.92
205  1/14/2011  $62.70  $63.86  $62.56  $63.13
206  1/21/2011  $63.21  $63.92  $62.72  $62.77
207  1/28/2011  $62.87  $63.31  $62.14  $62.21
208   2/4/2011  $62.32  $63.48  $61.89  $62.56
209  2/11/2011  $62.67  $64.75  $62.32  $63.57
210  2/18/2011  $63.67  $64.72  $62.55  $64.55
211  2/25/2011  $63.36  $64.40  $63.33  $64.31
212   3/4/2011  $64.17  $65.87  $63.86  $65.21
213  3/11/2011  $65.32  $65.84  $64.47  $64.81
214  3/18/2011  $64.34  $64.61  $61.29  $62.70
215  3/25/2011  $63.13  $65.39  $63.05  $65.22
581   4/1/2011  $65.20  $67.48  $65.03  $67.22
582   4/8/2011  $67.22  $67.82  $66.86  $67.27
583  4/15/2011  $67.25  $68.47  $66.41  $68.01
584  4/21/2011  $67.57  $68.05  $66.64  $67.88
585  4/29/2011  $67.95  $67.98  $65.81  $67.46
586   5/6/2011  $67.76  $67.93  $66.40  $66.90
587  5/13/2011  $66.86  $68.77  $66.83  $68.18
588  5/20/2011  $68.10  $68.70  $67.50  $68.30
589  5/27/2011  $67.59  $67.90  $66.30  $66.51
590   6/3/2011  $66.94  $67.24  $65.21  $65.53
591  6/10/2011  $65.51  $68.05  $65.07  $65.39
592  6/17/2011  $65.10  $66.23  $64.64  $65.62
593  6/24/2011  $65.37  $66.82  $64.43  $64.93

O problema é que as colunas com os valores possuem o carater $ e são do tipo texto (object no pandas).

Visualize os dados do dataframe

In [24]:
df_ko.head(n=10)

          date    open    high     low   close
204   1/7/2011  $65.88  $65.88  $62.56  $62.92
205  1/14/2011  $62.70  $63.86  $62.56  $63.13
206  1/21/2011  $63.21  $63.92  $62.72  $62.77
207  1/28/2011  $62.87  $63.31  $62.14  $62.21
208   2/4/2011  $62.32  $63.48  $61.89  $62.56
209  2/11/2011  $62.67  $64.75  $62.32  $63.57
210  2/18/2011  $63.67  $64.72  $62.55  $64.55
211  2/25/2011  $63.36  $64.40  $63.33  $64.31
212   3/4/2011  $64.17  $65.87  $63.86  $65.21
213  3/11/2011  $65.32  $65.84  $64.47  $64.81

Verifique o tipo dos dados

In [25]:
df_ko.dtypes

date     object
open     object
high     object
low      object
close    object
dtype: object